<div class="text-center">
  <form class="form-signin">

    <h1 class="h4 mb-2 login" >Cadastro do Usuário</h1>

    <!-- Email -->
    <label for="inputEmail" class="sr-only">Email</label>
    <input type="email" id="inputEmail"
           name="email" placeholder="Informe o seu Email"
           class="form-control mb-2"
           [(ngModel)]="usuario.email"
           #email="ngModel"
           [ngClass]="{
                'is-valid':email.valid && (email.dirty || email.touched),
                 'is-invalid':email.invalid && (email.dirty || email.touched)
           }"
           required
           email />

    <div class="invalid-feedback mb-2" *ngIf="email.invalid && (email.dirty || email.touched)">
      <div *ngIf="email.errors.required">
        Email deve ser preenchido
      </div>
      <div *ngIf="email.errors.email">
        Email não está no formato correto
      </div>
    </div>


    <!--- Senha  -->
    <label for="inputSenha" class="sr-only">Senha</label>
    <input type="password" id="inputSenha"
           name="senha" placeholder="Informe a senha"
           class="form-control mb-2"
           [(ngModel)]="usuario.senha"
           #senha="ngModel"
           [ngClass]="{
               'is-valid':senha.valid && (senha.dirty || senha.touched),
               'is-invalid':senha.invalid && (senha.dirty || senha.touched)
                     }"
           required />
    <div class="invalid-feedback mb-2" *ngIf="senha.invalid && (senha.dirty || senha.touched)">
      <div *ngIf="senha.errors.required">
        Senha deve ser preenchida
      </div>
    </div>

    <!-- Nome-->

    <label for="inputNome" class="sr-only">Nome</label>
    <input type="nome" id="inputNome"
           name="nome" placeholder="Informe o seu Nome"
           class="form-control mb-2"
           [(ngModel)]="usuario.nome"
           #nome="ngModel"
           [ngClass]="{
                'is-valid':nome.valid && (nome.dirty || nome.touched),
                 'is-invalid':nome.invalid && (nome.dirty || nome.touched)
           }"
           required />

    <div class="invalid-feedback mb-2" *ngIf="nome.invalid && (nome.dirty || nome.touched)">
      <div *ngIf="nome.errors.required">
        O Nome é de preenchimento obrigatório
      </div>
    </div>

    <!-- Sobre Nome-->

    <label for="inputSobreNome" class="sr-only">Sobre Nome</label>
    <input type="nome" id="inputSobreNome"
           name="sobreNome" placeholder="Sobre Nome"
           class="form-control mb-2"
           [ngClass]="{
                'is-valid':sobreNome.valid && (sobreNome.dirty || sobreNome.touched),
                'is-invalid':sobreNome.invalid && (sobreNome.dirty || sobreNome.touched)
           }"
           [(ngModel)]="usuario.sobreNome"
           #sobreNome="ngModel"
           required />

    <div class="invalid-feedback mb-2" *ngIf="sobreNome.invalid && (sobreNome.dirty || sobreNome.touched)">
      <div *ngIf="sobreNome.errors.required">
        O Sobre nome é de preenchimento obrigatório
      </div>
    </div>

    <!-- Botão de submissão-->

    <button class="btn btn-primary btn-block" type="submit" (click)="cadastrar()" [disabled]="ativar_spinner">
      <span class=" spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="ativar_spinner"></span>
      Cadastrar
    </button>

    <div> <a [routerLink]='["/entrar"]'>Voltar</a></div>

    <div class="alert alert-danger" *ngIf="mensagem">
      {{mensagem}}
    </div>
    <img src="../../../assets/img/comercio-logo.png" />

  </form>
</div>
